body {
  background: url(../images/3.jpg) no-repeat fixed center;
  background-size: cover;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.container {
  width: 80%;
  margin: auto;
}

.title {
  font-size: 32px;
  text-align: center;
  animation-name: change;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes change {
  0% {
    background: -webkit-linear-gradient(left, #22c1c3, #d6fd2d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  50% {
    background: -webkit-linear-gradient(left, #ff0000, #ffff00, #ff0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  100% {
    background: -webkit-linear-gradient(
      left,
      #008080,
      #ffffff,
      #05c1ff,
      #ffffff,
      #005757
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.main-section {
  width: 100%;
  overflow: auto;
}

.main-section div {
  height: 182px;
  width: 15%;
  background-color: #dbe2ef;
  float: left;
  margin: 40px 0 4% 8%;
}

.div1,
.div5 {
  animation: wobble 2s ease 0s infinite normal forwards;
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
}

@keyframes wobble {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-30px) rotate(6deg);
  }

  30% {
    transform: translateX(15px) rotate(-6deg);
  }

  45% {
    transform: translateX(-15px) rotate(3.6deg);
  }

  60% {
    transform: translateX(9px) rotate(-2.4deg);
  }

  75% {
    transform: translateX(-6px) rotate(1.2deg);
  }
}

.div2,
.div6 {
  animation-name: animate;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: 5s;
  animation-duration: normal;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

@keyframes animate {
  0% {
    animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
  }

  10% {
    animation-timing-function: ease-in;
    transform: scale(0.91);
  }

  17% {
    animation-timing-function: ease-out;
    transform: scale(0.98);
  }

  33% {
    animation-timing-function: ease-in;
    transform: scale(0.87);
  }

  45% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
}

.div3,
.div7 {
  clip-path: circle(50% at 50% 50%);
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  animation: circle 2s ease 10s infinite normal forwards;
}

@keyframes circle {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}

.div4 , .div8 {
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(214,253,45,1) 100%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  animation: poly 2s ease 15s infinite normal forwards;
}

@keyframes poly {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}